* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background-color: #1e3a5f;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.sidebar li:hover {
    background-color: #2c5282;
}

/* FEED */
.feed-area {
    margin-left: 250px;
    width: 100%;
    padding: 20px;
}

.topbar {
    margin-bottom: 20px;
}

.topbar input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.feed {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.post:hover {
    transform: translateY(-3px);
}

.post h3 {
    margin-bottom: 10px;
}

.post p {
    margin-bottom: 15px;
}

.post button {
    padding: 8px 15px;
    border: none;
    background-color: #2c5282;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
