* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #e6e6e6;
}

/* LAYOUT */
.layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #f4d88b;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.logo-circle {
  width: 45px;
  height: 45px;
  background: #4caf50;
  border-radius: 50%;
}

.logo-area span {
  color: #2e7d32;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu button {
  border: none;
  background: #cfcfcf;
  padding: 10px;
  border-radius: 20px;
  text-align: left;
  cursor: pointer;
  transition: 0.2s;
}

.menu button:hover {
  background: #bdbdbd;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 20px;
}

/* TOPBAR */
.topbar {
  height: 60px;
  background: #cfcfcf;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.search {
  width: 60%;
  background: #bdbdbd;
  border-radius: 8px;
}

.profile {
  width: 120px;
  background: #bdbdbd;
  border-radius: 8px;
}

/* GRID */
.grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #7fb8a6;
  border-radius: 25px;
}

/* TAMANHOS */
.big {
  height: 180px;
}

.bottom-grid {
  display: flex;
  gap: 20px;
}

.tall {
  width: 50%;
  height: 260px;
}

.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.small {
  height: 120px;
}
